@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 50 50 50;
    --card-foreground: 200 200 200;
    --popover: 50 50 50;
    --popover-foreground: 200 200 200;
    --primary: 255 255 255;
    --primary-foreground: 0 0 0;
    --secondary: 200 200 200;
    --secondary-foreground: 50 50 50;
    --muted: 150 150 150;
    --muted-foreground: 100 100 100;
    --accent: 200 200 200;
    --accent-foreground: 50 50 50;
    --destructive: 255 255 255;
    --destructive-foreground: 0 0 0;
    --border: 150 150 150;
    --input: 50 50 50;
    --ring: 200 200 200;
    --radius: 0.5rem;
    --chart-1: 100 100 100;
    --chart-2: 150 150 150;
    --chart-3: 200 200 200;
    --chart-4: 250 250 250;
    --chart-5: 255 255 255;
  }

  .dark {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --card: 200 200 200;
    --card-foreground: 50 50 50;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
